@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

div{
    color: blue;
}
header{
    font-family: "Quicksand", sans-serif;
    font-size: 70px;
    background-image: url(https://www.shutterstock.com/image-vector/cyber-security-data-protection-cyberattacks-260nw-1918033985.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3rem 1rem;
    border-radius: 10px;
    margin: 1.5rem auto;
    width: 100%;
    height: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}
header nav a{
    color: rgb(186, 217, 247);
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
}
body {
    background-color: #0e1724;
    font-family: Arial, Helvetica, sans-serif;
    color: #e6eef6;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
body h2{
    background-color: #0e1724;
    font-family:  "Quicksand", sans-serif;
    color: #e6eef6;
    padding: 0;
    line-height: 1.6;
    font-size:60px;
    margin-left: 30px;
    margin-bottom: 0px;
}
div{
    color: blue;
}
body p{

    background-color: #0e1724;
    font-family: Arial, Helvetica, sans-serif;
    color: #e6eef6;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0;
    line-height: 1.2;
    font-size:30px;
    inline-size: 90%;
    text-align: justify;
}
body li strong{
    font-size: 40px;
    margin-left: 30px;
}
body li h3{
    color: rgb(139, 176, 231);
}